@{
    ViewData["Title"] = "صفحه‌ی اصلی";
}
@section meta {
    <meta name="google-site-verification" content="qTsTIpKZ6fKL0HJfl-W07pIzw52q8X7Ue0lvOSnGeKw" />
	<meta name="description" content="شرکت رتبه‌بندی اعتباری پارس کیان: مرجعی معتبر برای سرمایه‌گذاران و اعتباردهندگان">
    <meta name="keywords" content="رتبه‌بندی اعتباری, ریسک اعتباری, سرمایه‌گذاری, اعتباردهندگان, شفافیت, مدیریت ریسک, تامین مالی,رتبه اعتباری, کیان پارس, پارس کیان, رتبه بندی اعتباری, پارس کیان رتبه بندی, وزارت صمت چیست, علی سنگینیان, بهروز زارع, کیان, رتبه بندی پارس کیان, شرکت کیان پارس, شرکت رتبه بندی اعتباری ایران, شرکت رتبه بندی پارس کیان, شرکت رتبه بندی اعتباری پارس کیان, گروه کیان, رتبه بندی اعتباری پارس کیان, شرکت اعتباری رتبه بندی ایران, رتبه سنجی اعتباری, نرخنامه غرفه تهران, ریسکو کیان, پارس باری, چارت سازمانی وزارت صمت, شرکت تخصیص پارس, موسسه مالی کیان, شرکت رتبه بندی, صمت چیست, رتبه بندی اعتبار سنجی, موسسه رتبه بندی برهان, سایت رتبه بندی اعتباری ایران, رتبه اعتباری c, vjfi hujfhvd, شناسه ملی سازمان بورس و اوراق بهادار, دکتر مزرعه شاهی, مزرعه شاهی, کیان مهر پارس, برهان رتبه بندی, رتبه سنجی, رتبه اعتبار, رضا عربی, درخواست رتبه اعتباری, رتبه بندی بانک های ایران از نظر دارایی, پنل کیان تایر, ثبت شاخص, مشاهده رتبه اعتباری, شرکت مشاور رتبه بندی اعتباری ایران, مدیر عامل شرکت سرمایه گذاری کیان, رتبه‌بندی‌ها, کیان بورس, مالک شرکت سپید ماکیان, \hvs ;dhk, ]hvs ;dhk, 'hvs ;dhk, /hvs ;dhk, fvihk, vjfi fknd hujfhvd, vjfi hujfhvd, ,chvj wlj, nvo,hsj vjfi fknd hujfhvd">

}
@section Styles{
    <link rel="stylesheet" href="~/css/landing/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/figure-card/figure.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/magic-card/magic_card.css" asp-append-version="true" />
}
<div class="main">

    <section class="sec1">
        <div class="slider topslider">
            <div class="slider_pages">
                @*<div class="slider_page" id="slide1">
                        <img src="~/image/landing/happy_new_year.jpg" style="object-fit: fill;max-height: 90%;bottom: 0px;" width="1300" height="620" alt="پارس کیان" title="پارس کیان" />
                    <div class="label">
                        <h2 class="slider_text" id="cursor_node_1" slider_text="نماد اعتماد در اعتبارسنجی" slider_text2=" پارس کیان" slider_text2_color="#ff2626"></h2>
                    </div>

                </div>*@
                <div class="slider_page" id="slide1">
                    <img src="~/image/landing/cg3.jpg" style="position: absolute;object-fit: fill;max-height: 500px;top: 80px;max-width: 1595px;" alt="حاکمیت شرکتی" title="حاکمیت شرکتی" />
                    <div class="label">
                        @* <h2 class="slider_text" id="cursor_node_1" slider_text="" slider_text2="حاکمیت شرکتی" slider_text2_color="#ff2626"></h2> *@
                    </div>
                </div>

                <div class="slider_page" id="slide2">
                        <img src="~/image/landing/ExhibitionParskyan.jpg"  width="1300" height="620" alt="پارس کیان" title="پارس کیان" />
                    <div class="label">
                        <h2 class="slider_text" id="cursor_node_2" slider_text="ارزیابی شاخصهای کسب و کار( کیفی) فعالان اقتصادی با" slider_text2="پارس کیان" slider_text2_color="#ff2626"></h2>
                    </div>
                </div>
                @*<div class="slider_page" id="slide1">
                <img src="~/image/landing/slider_4.jpg"  width="1300" height="620" alt="پارس کیان" title="پارس کیان"/>
            <div class="label">
                <h2 class="slider_text" id="cursor_node_1" slider_text="ارزشیابی شاخصهای کسب و کار( کیفی) فعالان اقتصادی با" slider_text2="پارس کیان" slider_text2_color="#ff2626"></h2>
            </div>

        </div>*@
                @*<div class="slider_page" id="slide2">
                <img src="~/image/landing/slider_5.jpg"  width="1300" height="620" alt="پارس کیان" title="پارس کیان"/>
            <div class="label">
                <h2 class="slider_text" id="cursor_node_2" slider_text=" رتبه بندی اعتباری با" slider_text2="پارس کیان" slider_text2_color="#ff2626"></h2>
            </div>
        </div>*@
               @* <div class="slider_page" id="slide3">
                        <img src="~/image/landing/slider_3.webp"  width="1300" height="620" alt="پارس کیان" title="پارس کیان" />

                    <div class="label">

                            <h2 class="slider_text" id="cursor_node_3"  slider_text="تجربه ای متفاوت در ارزیابی و رتبه بندی با" slider_text2="پارس کیان" slider_text2_color="#ff2626"></h2>
                    </div>
                </div>*@

                @* <div class="slider_page" id="slide3">
                        <img src="~/image/landing/ExhibitionParscrc.jpg" width="1300" height="620" alt="پارس کیان" title="پارس کیان" />

                    <div class="label">

                        <h2 class="slider_text" id="cursor_node_3" slider_text="تجربه ای متفاوت در ارزیابی و رتبه بندی با" slider_text2="پارس کیان" slider_text2_color="#ff2626"></h2>
                    </div>
                </div> *@

            </div>
            <div class="overlay">
                @*<div id="thedot">
                </div>*@
                <div class="slider_buttons"></div>
                <div id="slider_mobile_controller">
                    <div onclick="jvSlider_prev();"></div>
                    <div onclick="jvSlider_next();"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="sec5">
        <div style="display:flex;align-items: center;">
            <h3>فهرست آخرین رتبه های اعتباری</h3>
        </div>
        <div>

            <div class="slider sslider">
                <div class="slider_pages">

                    @if(ViewData["ranks"] != null) {
                        @foreach(var item in (IEnumerable<ParsKyanCrm.Application.Dtos.Users.RankingOfCompaniesDto>)ViewData["ranks"]) {

                            <div class="top_rateing_card slider_page">
                                <div style="z-index:5;">
                                    <div style="display:flex;">
                                        <div class="c1">
                                            <p>رتبه</p>
                                            <div class="c2">
                                                <p>کوتاه مدت<span>@item.ShortTermRating</span></p>
                                                <p>بلند مدت<span>@item.LongTermRating</span></p>
                                            </div>
                                        </div>
                                        <div class="c3">
                                            <h5>@item.Comany.CompanyName</h5>
                                            <div class="c4">
                                                <p>وضعیت:<span>@item.StatusText</span></p>
                                                <p>دورنما:<span>@item.Vision</span></p>
                                                <p>بخش:<span>@item.Comany.CompanyGroup.Label</span></p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="c5">
                                        <p>تاریخ انتشار: <span>@item.PublishDate</span></p>
                                        <a class="jbtn" href="/FileUpload/RankingOfCompanies/@item.PressRelease" target="_blank">مشاهده</a>
                                    </div>

                                </div>
                                <img src="/image/landing/logo.png" class="top_rateing_card_under_img"alt="Parskyan" title="پارس کیان"/>
                            </div>
                        }
                    }

                </div>
                <div class="overlay">
                    <div class="slider_buttons"></div>
                </div>

            </div>
        </div>
        <div style="font-size: 14px;margin: 2rem auto 18px 3vw;display: block;">

            <a class="jbtn" style="margin-right:5px;font-size: 14px;" href="/home/ranklist">مشاهده فهرست آخرین رتبه های اعتباری &gt;</a>
        </div>

    </section>

    <section class="sec2">
        <div class="inner_div">
            <div class="right_div">
                <h2 style="color:#d43030">پارس کیان چه خدماتی ارائه می‌دهد؟</h2>
                <p>
                    ما با بررسی و تجزیه و تحلیل حرفه‌ای و بی‌طرفانه، ریسک اعتباری شرکت‌ها یا اوراق بهادار را ارزیابی نموده و با تخصیص رتبه اعتباری، مرجعی منحصر به فرد و قابل اعتماد در تصمیم‌گیری‌های سرمایه گذاران و اعتبار دهندگان ارائه می‌دهیم.
                    <br />
                    شفافیت، اطمینان بخشی به سرمایه‌گذاری‌ها، مدیریت ریسک و تعیین نرخ مناسب تامین مالی از اهدافی است که شرکت رتبه‌بندی اعتباری پارس کیان دنبال می‌نماید.
                    <br />
                    به منظور تعامل بیشتر و آشنایی با فرآیندهای داخلی و انجام فرآیند رتبه‌بندی اعتباری و یا دریافت مشاوره‌های تخصصی با ما در ارتباط باشید.
                </p>
            </div>
            <div class="left_div">
                <div>
                    <i class="fa-sharp fa-solid fa-magnifying-glass-chart"></i>
                    <div>
                        <h3>گزارشات تحلیل صنعت</h3>
                        <p>مشاهده گزارشات تحلیل‌های صورت گرفته از صنایع مختلف در جهان</p>
                    </div>
                </div>
                <div>
                    <i class="fa-sharp fa-solid fa-eye"></i>
                    <div>
                        <h3>تغییرات منتشر شده</h3>
                        <p>مشاهده‌ی آخرین تغییرات منتشر شده از مستندات پارس کیان</p>
                    </div>
                </div>
                <div>
                    <i class="fa-sharp fa-solid fa-ranking-star"></i>
                    <div>
                        <h3>رتبه‌بندی‌های منتشر شده</h3>
                        <p>اطلاع از آخرین رتبه بندی‌های منتشر شده یا تغییر یافته</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="particles-js"></div>
    </section>
    <section class="sec3">
        <h3>درخواست خدمات</h3>
        <div class="inner_div">
            <div class="magic_card">
                <div class="inner_div">
                    <div class="top">
                        <i class="fa-solid fa-chart-area"></i>
                        <i class="fa-solid fa-chart-area"></i>
                    </div>
                    <div class="center">
                        <p>
                            <b> ارزیابی شاخص های کیفی<br>(وزارت صمت)</b>
                            <br />
                            ارائه رتبه بندی اعتباری اصلی ترین خدمتی است که رتبه بندی اعتباری پارس کیان بعنوان یکی از شرکت های رتبه بندی اعتباری دارای مجوز از سازمان بورس و اوراق بهادار ایران ارائه می دهد.
                        </p>

                    </div>
                    <div class="bottom">
                        <a class="jbtn request_user" href="/account/login" data-code="66">ثبت درخواست ارزیابی شاخص های کیفی</a>
                    </div>

                </div>
            </div>
            <div class="magic_card">
                <div class="inner_div">
                    <div class="top">
                        <i class="fa-solid fa-square-poll-vertical"></i>
                        <i class="fa-solid fa-square-poll-vertical "></i>
                    </div>
                    <div class="center">
                        <p>
                            <b>رتبه بندی اعتباری</b>
                            <br />
                            ارائه رتبه بندی اعتباری اصلی ترین خدمتی است که رتبه بندی اعتباری پارس کیان بعنوان یکی از شرکت های رتبه بندی اعتباری دارای مجوز از سازمان بورس و اوراق بهادار ایران ارائه می دهد.
                        </p>

                    </div>
                    <div class="bottom">
                        <a class="jbtn request_user" href="/account/login" data-code="67">ثبت درخواست رتبه‌بندی اعتباری</a>
                    </div>

                </div>
            </div>


            <div class="magic_card">
                <div class="inner_div">
                    <div class="top">
                        <i class="fa-solid fa-magnifying-glass-chart"></i>
                        <i class="fa-solid fa-magnifying-glass-chart"></i>
                    </div>
                    <div class="center">
                        <p>
                            <b>رتبه بندی حاکمیتی شرکت</b>
                            <br />
                            پارس کیان مفتخر است با تکیه بر سوابق ارزیابی خود، رتبه بندی حاکمیتی شرکت شما را انجام دهد.
                        </p>

                    </div>
                    <div class="bottom">
                        <a class="jbtn request_user" href="/account/login" data-code="254">ثبت درخواست رتبه‌بندی حاکمیتی شرکت</a>
                    </div>

                </div>
            </div>
            <div class="magic_card">
                <div class="inner_div">
                    <div class="top">
                        <i class="fa-solid fa-chalkboard-user"></i>
                        <i class="fa-solid fa-chalkboard-user"></i>
                    </div>
                    <div class="center">
                        <p>
                            <b>آموزش و مشاوره</b>
                            <br />
                            مشاوره به شرکت ها و ارائه راهکار جهت مدیریت ریسک اعتباری از خدماتی است که پارس کیان ارائه می دهد. همچنین در آموزش سعی داریم مفاهیم مرتبط با ادبیات رتبه بندی اعتباری را توسعه دهیم.
                        </p>

                    </div>
                    <div class="bottom">
                        <a class="jbtn" href="/account/login" disabled="disabled">ثبت درخواست آموزش و مشاوره</a>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section>
        <div style="display:flex;align-items: center;">
            <h3></h3>
        </div>
    </section>


    <section class="sec4">
        <div class="inner_div">
            <div class="right_div">
                <h3>
                    جدید ترین خبرها
                </h3>
                <a class="jbtn" href="/Article/Newslist/">آرشیو خبرها</a>
            </div>
            <div class="left_div">
                @if(ViewData["news"] != null) {
                    @foreach(var item in (IEnumerable<ParsKyanCrm.Application.Dtos.Users.NewsAndContentDto>)ViewData["news"]) {

                        <figure class="snip1249">
                            <div class="image">
                                <img class="postimg" src="@item.ContentPicFull" onerror="this.src='https://parscrc.ir/FileUpload/NewsAndContent/no-photo.png'" alt="@item.Title" title="@item.Title" />
                                <i><img class="icon" src="~/image/landing/news_outline.png" alt="icon" title="پارس کیان"/></i>
                            </div>
                            <figcaption>
                                <h3>@item.Title</h3>
                                <p>@item.Summary</p>
                                <div class="date">
                                    <l2>@item.DatePersianDayAndMonth</l2>@item.DatePersianYear
                                </div>
                                <a href="/Article/News/@item.ContentId" class="jbtn">ادامه مطلب</a>
                            </figcaption>
                        </figure>

                    }

                }

            </div>
        </div>

    </section>

    <section>
        <div style="display:flex;align-items: center;">
            <h3></h3>
        </div>
    </section>

    <section class="sec4">
        <div class="inner_div">
            <div class="right_div">
                <h3>
                    جدید ترین مقالات
                </h3>
                <a class="jbtn" href="/Article/ContentList/">آرشیو مقالات</a>
            </div>
            <div class="left_div">
                @if (ViewData["news"] != null)
                {
                    @foreach (var item in (IEnumerable<ParsKyanCrm.Application.Dtos.Users.NewsAndContentDto>)ViewData["content"])
                    {
                        <figure class="snip1249">
                            <div class="image">
                                <img class="postimg" src="@item.ContentPicFull" onerror="this.src='https://parscrc.ir/FileUpload/NewsAndContent/no-photo.png'" alt="@item.Title" title="@item.Title" />
                                <i><img class="icon" src="~/image/landing/news_outline.png" alt="icon" title="پارس کیان" /></i>
                            </div>
                            <figcaption>
                                <h3>@item.Title</h3>
                                <p>@item.Summary</p>
                                <div class="date">
                                    <l2>@item.DatePersianDayAndMonth</l2>@item.DatePersianYear
                                </div>
                                <a href="/Article/Content/@item.ContentId" class="jbtn">ادامه مطلب</a>
                            </figcaption>
                        </figure>
                    }
                }
            </div>
        </div>
    </section>

    <section class="sec6">
        <div class="right">
            <div>
                <i class="fa-solid fa-pen-to-square"></i>
                <div>
                    <h3>تحلیل و درخواست اطلاعات</h3>
                    <p>از اولین گام های رتبه بندی اعتباری تحلیل مقدماتی بر اساس صنعت و بازار، متقاضی می باشد تا بر اساس آن بتوان به شناختی اولیه و در مراحل بعدی شناخت کاملی از متقاضی جهت انجام رتبه بندی اعتباری دست یافت.</p>
                </div>
            </div>
            <div>
                <i class="fa-solid fa-book-bookmark"></i>
                <div>
                    <h3>رتبه بندی اعتباری</h3>
                    <p>با بهره گیری از تحلیل مقدماتی، اخذ اطلاعات و جلساتی مدیریتی و استفاده از متدولوژی و فرآیندهای موجود در موسسه، رتبه بندی اعتباری اولیه استخراج و جهت بررسی و تصمیم گیری به ارکان مربوطه ارائه می گردد.</p>
                </div>
            </div>
            <div>
                <i class="fa-sharp fa-solid fa-laptop"></i>
                <div>
                    <h3>انتشار رتبه اعتباری</h3>
                    <p>پس از نهایی شدن رتبه اعتباری، این رتبه از طریق وب سایت شرکت و حسب مورد توسط سایر مراجع برای عموم منتشر می شود.</p>
                </div>
            </div>
        </div>
        <div class="left" style="display:none;">
            <div style="display:flex;align-items: center;justify-content: center;">
                <h3 style="margin-bottom: 0;font-size: 24px;">افتخارات پارس کیان</h3>
            </div>
            <div id="xitem_parrent">
                <div class="x_item">
                    <div class="circle">
                        <i class="fa-solid fa-user-tie"></i>
                    </div>
                    <h5>۶</h5>
                    <h6>سال تجربه</h6>
                </div>
                <div class="x_item">
                    <div class="circle">
                        <i class="fa-solid fa-users-rectangle"></i>
                    </div>
                    <h5>۵۲</h5>
                    <h6>مشتری تجاری ثابت</h6>
                </div>
            </div>
            <div id="xitem_parrent">
                <div class="x_item">
                    <div class="circle">
                        <i class="fa-solid fa-file-circle-check"></i>
                    </div>
                    <h5>۷۵۰</h5>
                    <h6>ارزیابی تایید شده</h6>
                </div>
                <div class="x_item">
                    <div class="circle">
                        <i class="fa-brands fa-square-pied-piper"></i>
                    </div>
                    <h5>۲۲۰</h5>
                    <h6>سند رسمی حقوقی</h6>
                </div>

            </div>
        </div>
    </section>
</div>


@section Scripts{
    <script>
        function topRatingBtnOnclick(inelement) {

            $("#top_rating_button .btn").each(function(index) {
                $(this).removeClass("selected");
            });
            $(inelement).addClass("selected");

            $(".top_rating_cards_parrent").each(function(index) {
                $(this).hide();
            });
            let innerid = $(inelement).attr("toprateid");
            $(`.top_rating_cards_parrent[toprateid='${innerid}']`).fadeIn();
            $(`.top_rating_cards_parrent[toprateid='${innerid}']`).css("display", "flex");



        }
        $("#top_rating_button .btn[toprateid ='0']").click();

    </script>
    <script src="~/js/landing/index.js" asp-append-version="true"></script>

    <script src="~/lib/particlesjs/particles.min.js"></script>
    <script src="~/lib/particlesjs/type1.js"></script>
}