@model IEnumerable<ParsKyanCrm.Application.Dtos.Users.RankingOfCompaniesDto>
@{
    int customerID = ViewBag.CustomerID != null ? ViewBag.CustomerID : 0;
}
@if (Model != null)
{
    @foreach (var item in Model)
    {
        <div class="jtrow mainRowFull">

            <div class="jtcell" data-title="تاریخ">
                @item.PublishDate
            </div>
            <div class="jtcell" data-title="نام ناشر">
                @item.Comany.CompanyName
            </div>

            <div class="jtcell" data-title="نماد معاملاتی">
                @item.TradingSymbol
            </div>

            <div class="jtcell" data-title="نوع رتبه بندی">
                @item.RankingTypeText
            </div>
            <div class="jtcell" data-title="بخش">
                @item.Comany.CompanyGroup.Label
            </div>

            <div class="jtcell" data-title="وضعیت رتبه بندی">
                @item.StatusText
            </div>
            <div class="jtcell" data-title="رتبه در بلند مدت">
                @item.LongTermRating
            </div>
            <div class="jtcell" data-title="رتبه در کوتاه مدت">
                @item.ShortTermRating
            </div>
            <div class="jtcell" data-title="دورنما">
                @item.Vision
            </div>
            <div class="jtcell" data-title="جزئیات" id="divOpperationButtons">
                <div style='display: flex;/*flex-wrap: wrap;*/'>
                    @if (!String.IsNullOrWhiteSpace(@item.PressRelease))
                    {
                        <a style='font-size: 12px;margin:4px;' class='jbtn' href='/FileUpload/RankingOfCompanies/@item.PressRelease' target='_blank'>بیانیه‌ مطبوعاتی</a>
                    }
                    else{
                        <a style='font-size: 12px;margin:4px;' class='jbtn' href='/FileUpload/RankingOfCompanies/' onclick="return false;">بیانیه‌ مطبوعاتی</a>
                    }
                    @if (customerID == 0)
                    {
                        <a style='font-size: 12px;margin:4px;' class='jbtn' onclick="SummaryRankingAuten(); return false;" href="/">خلاصه‌ گزارش</a>
                    }
                    else
                    {
                        if (!String.IsNullOrWhiteSpace(@item.SummaryRanking))
                        {
                            <a style='font-size: 12px;margin:4px;' class='jbtn' href='/FileUpload/RankingOfCompanies/@item.SummaryRanking' target='_blank'>خلاصه‌ گزارش</a>
                        }
                        else
                        {
                            <a style='font-size: 12px;margin:4px;' class='jbtn' onclick="return false;" href="/FileUpload/RankingOfCompanies/">خلاصه‌ گزارش</a>
                        }
                    }
                </div>
            </div>
        </div>
    }
}