@{
    ViewData["Title"] = "لیست ارزیابی های انجام شده";
}

<link rel="stylesheet" href="~/lib/figure-card/figure.css" asp-append-version="true" />
<div id="bg-img"></div>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />

<link rel="stylesheet" href="~/css/landing/RankList.css" asp-append-version="true" />

<section style="background: #325777cc;max-width: var(--max-site-width);z-index: 423;margin: auto;position: relative;padding: 20px;margin: 15px auto;border-radius: 20px;">
    <h1 style="color:white;text-align: center;margin-bottom: 10px;">لیست ارزیابی های انجام شده</h1>

    <div style="display: flex;flex-wrap: wrap;width: auto;justify-content: space-around;">


        <div class="jtwrapper">

            <div class="jtable">

                <div class="jtrow jtheader blue">
                    <div class="jtcell">
                        نام شرکت
                    </div>

                    <div class="jtcell">
                        تاریخ
                    </div>
                    <div class="jtcell">
                        بخش
                    </div>
                    @*<div class="jtcell">
                        نوع رتبه بندی
                    </div>*@
                    <div class="jtcell">
                        وضعیت رتبه بندی
                    </div>
                    <div class="jtcell">
                        رتبه در بلند مدت
                    </div>
                    <div class="jtcell">
                        رتبه در کوتاه مدت
                    </div>
                    <div class="jtcell">
                        دورنما
                    </div>
                    <div class="jtcell">
                        جزئیات
                    </div>
                </div>

                @if(ViewData["ranks"] != null) {
                    @foreach(var item in (IEnumerable<ParsKyanCrm.Application.Dtos.BasicInfo.RankingOfCompaniesDto>)ViewData["ranks"]) {
                        <div class="jtrow">
                            <div class="jtcell" data-title="نام شرکت">
                                @item.Comany.CompanyName
                            </div>
                            <div class="jtcell" data-title="تاریخ">
                                @item.PublishDate
                            </div>
                            <div class="jtcell" data-title="بخش">
                                @item.Comany.CompanyGroup.Label
                            </div>
                            @*<div class="jtcell" data-title="نوع رتبه بندی">
                                @item.RankingTypeText
                            </div>*@
                            <div class="jtcell" data-title="وضعیت رتبه بندی">
                                @item.StatusText
                            </div>
                            <div class="jtcell" data-title="رتبه در بلند مدت">
                                @item.LongTermRating
                            </div>
                            <div class="jtcell" data-title="رتبه در کوتاه مدت">
                                @item.ShortTermRating
                            </div>
                            <div class="jtcell" data-title="دورنما">
                                @item.Vision
                            </div>
                            <div class="jtcell" data-title="جزئیات">
                                <div style="display: flex;/*flex-wrap: wrap;*/">
                                    <a style="font-size: 14px;margin:4px;" class="jbtn" href="/ContactUs/">خلاصه‌گزارش</a>
                                    <a style="font-size: 14px;margin:4px;" class="jbtn" href="/FileUpload/RankingOfCompanies/@item.PressRelease">بیانیه‌مطبوعاتی</a>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>


        </div>

    </div>

</section>

