
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="~/css/GlobalAreas/dist/img/Logo/hnet.com-image.ico" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link href="~/css/GlobalAreas/dist/css/bootstrap-theme.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/css/GlobalAreas/dist/css/rtl.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/css/GlobalAreas/bower_components/font-awesome/css/font-awesome.min.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/css/GlobalAreas/bower_components/Ionicons/css/ionicons.min.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/css/GlobalAreas/dist/css/AdminLTE.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/css/GlobalAreas/dist/css/skins/_all-skins.min.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/css/GlobalAreas/_Layout.css" asp-append-version="true" rel="stylesheet" />

    <link href="~/lib/Loader/Loader.css" asp-append-version="true" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <!-- jQuery 3 -->
    <script src="~/css/GlobalAreas/bower_components/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/SweetAlert/sweetalert.min.js" asp-append-version="true"></script>

    <script src="~/js/iu.min.js" asp-append-version="true"></script>


    @RenderSection("Styles", false)
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/Customer" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">پنل</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>کنترل پنل مشتری</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/css/GlobalAreas/dist/img/user2-160x160.png" class="user-image" alt="User Image">
                                <span class="hidden-xs fullNameInLayout">

                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/css/GlobalAreas/dist/img/user2-160x160.png" class="img-circle" alt="User Image">

                                    <p>
                                        <span class="fullNameInLayout"></span>
                                        <small></small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="/Customer">داشبورد</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            @*<a href="#">Test</a>*@
                                        </div>
                                        <div class="col-xs-4 text-center">
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="/Customer/Account/UpdatePass" class="btn btn-default btn-flat">تغییر کلمه عبور</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="" onclick="Web.Layout.SignOutForExitToLogin();" class="btn btn-default btn-flat">خروج</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- right side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-right image">
                        <img src="~/css/GlobalAreas/dist/img/user2-160x160.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-right info">
                        <p class="fullNameInLayout">
                        </p>
                        <a href="#"><i class="fa fa-circle text-success"></i> آنلاین</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="جستجو">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree" id="ulMenuMain">
                    @*<li class="header"></li>*@
                    <li><a href='/'><img src='/css/GlobalAreas/dist/img/Logo/hnet.com-image.png' class='' style='width: 20px; height: 20px;' /> <span>سامانه پارس کیان</span></a></li>
                    <li><a href='/Customer'><i class="fa fa-dashboard"></i> <span>داشبورد</span></a></li>
                    <li><a href='/Customer/Customer/EditCustomer'><i class="fa fa-th-large"></i> <span>پروفایل کاربری</span></a></li>
                    @*<li><a href='/Customer/FurtherInfo/index'><i class="fa fa-th-large"></i> <span>ثبت اطلاعات تکمیلی</span></a></li>*@
                    <li><a href='/Customer/RequestForRating/Index'><i class="fa fa-th-large"></i> <span>مشاهده درخواستها</span></a></li>
                    <li><a href='#'><i class="fa fa-support"></i> <span>پیشتیبانی</span></a></li>
                    <li><a href='' onclick='Web.Layout.SignOutForExitToLogin();'><i class='fa fa-sign-out'></i> <span>خروج</span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @RenderSection("PageHeader", false)

            <!-- Main content -->
            <section class="content">

                @RenderBody()

                <!-- Start Loader -->
                <div id="loader"></div>
                <!-- End Loader -->

            </section>
            <!-- /.content -->
            <div class="modal fade bd-example-modal-lg" role="dialog" id="modalMain">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" id="hMainTitleModal">Modal Header</h4>
                        </div>
                        <div class="modal-body" id="divMainBodyModal">
                            <p>Some text in the modal.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                            <button type="button" class="btn btn-info" id="btnSaveModal">ذخیره</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer text-left">
            <strong>Copyright   &copy; @DateTime.Now.Year <a target="_blank" href="https://raygostaran.ir/">Raygostaran Corporation</a> </strong>
        </footer>

        <!-- Control Sidebar -->
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

    </div>

    <!-- ./wrapper -->

    <script src="~/css/GlobalAreas/bower_components/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/css/GlobalAreas/dist/js/adminlte.min.js" asp-append-version="true"></script>
    <script src="~/css/GlobalAreas/dist/js/demo.js" asp-append-version="true"></script>

    <script src="~/lib/Noty/jquery.noty.js" asp-append-version="true"></script>

    <script src="~/lib/Loader/Loader.js" asp-append-version="true"></script>   

    <script src="~/js/Views/Customer/all.min.js" asp-append-version="true"></script>

    <script>
        Web.Layout.InitLayout();
    </script>

    @RenderSection("Scripts", false)

</body>
</html>
