@{
    ViewData["Title"] = "آرشیو مقالات";
}

<link rel="stylesheet" href="~/lib/figure-card/figure.css" asp-append-version="true" />
<div id="bg-img"></div>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/landing/ArticleListBase.css" asp-append-version="true" />

<section id="section_list_x1">
    <h1 id="ListTitle">آرشیو مقالات</h1>
    <p style="color: white;font-size: 18px;">
        در دانش نامه‌ی پارس کیان، ما به همیاری تیم حرفه‌ای خود در نظر داریم تا با تمامی مسائل و رویکرد‌عای رتبه بندی اعتباری آشنا شوید.
    </p>

    <div class="inner_div">

        @if(ViewData["content"] != null) {
            @foreach(var item in (IEnumerable<ParsKyanCrm.Application.Dtos.Users.NewsAndContentDto>)ViewData["content"]) {

                <figure class="snip1249">
                    <div class="image">
                        <img class="postimg" src="@item.ContentPicFull" />
                        <i><img class="icon" src="~/image/landing/news_outline.png" /></i>
                    </div>
                    <figcaption>
                        <h6>@item.Title</h6>
                        <p>@item.Summary</p>
                        <div class="date">
                            <l2>@item.DatePersianDayAndMonth</l2>@item.DatePersianYear
                        </div>
                        <a href="/Article/Content/@item.ContentId" class="jbtn">ادامه مطلب</a>
                    </figcaption>
                </figure>

            }

        }
    </div>

</section>
